{namespace femanager=In2code\Femanagerextended\ViewHelpers}

<f:render section="default" arguments="{_all}" />

<f:section name="default">
    <div class="femanager_fieldset femanager_academic_title form-group">
        <label for="femanager_field_academic_title" class="col-sm-2 control-label">
            <f:translate key="tx_femanager_domain_model_user.academic_title" />
            <f:if condition="{femanager:Validation.IsRequiredField(fieldName:'academic_title')}">
                <span>*</span>
            </f:if>
        </label>
        <div class="col-sm-10">
            <femanager:form.select id="femanager_field_academic_title" property="academic_title" options="{femanager:Form.GetAcademicTitle()}"
                defaultOption="{f:translate(key:'pleaseChooseTitle')}" class="form-control"
                additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'academic_title')}" />
        </div>
    </div>
</f:section>