{namespace femanager=In2code\Femanagerextended\ViewHelpers}
<div class="femanager_fieldset femanager_other_title form-group">
    <label for="femanager_field_other_title" class="col-sm-2 control-label">
        <f:translate key="tx_femanager_domain_model_user.other_title" />
        <f:if condition="{femanager:Validation.IsRequiredField(fieldName:'other_title')}">
            <span>*</span>
        </f:if>
    </label>
    <div class="col-sm-10">
        <femanager:form.textfield id="femanager_field_other_title" placeholder = "other title" property="other_title" class="form-control"
            additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'other_title')}" />
    </div>
</div>